.next {
  padding: 12px 16px;
  gap: 8px;

  width: 79px;
  height: 44px;

  background: #5558fa;
  border-radius: 4px;

  color: #ffffff;

  font-size: 14px;
  line-height: 20px;

  border-style: none;

  margin-bottom: 8vh;
}

.back {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 12px 16px;
  gap: 8px;

  width: 73px;
  height: 44px;

  border: 1.5px solid #5558fa;
  border-radius: 4px;

  color: #5558fa;
  background: #ffffff;

  font-size: 14px;
  line-height: 20px;

  margin-bottom: 8vh;
}

.start {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 8px;

  width: 79px;
  height: 44px;
  left: 24px;

  background: #5558fa;
  border-radius: 4px;

  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  border-style: none;
}

.add {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 8px;

  width: 44px;
  height: 44px;

  border: 1.5px solid #5558fa;
  border-radius: 4px;

  color: #5558fa;
  background: #ffffff;

  font-size: 2rem;
  line-height: 20px;

  flex: none;
  order: 3;
  flex-grow: 0;
}

.succ {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 8px;

  width: 109px;
  height: 44px;

  background: #5558fa;
  border-radius: 4px;

  margin-left: 175.5px;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  border-style: none;
}

.err {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 8px;

  margin-left: 340px;

  width: 88px;
  height: 44px;

  background: #5558fa;
  border-radius: 4px;

  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  border-style: none;
}
